[user]
	email = s.mohammadreza.safari4@gmail.com
	name = smmmdreza1
[merge]
	conflictStyle = diff3
[magit]
	hideCampaign = true
[alias]
    tree = log --graph --decorate --pretty=oneline --abbrev-commit --all
[init]
	defaultBranch = main
